<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpack Demo</title>
</head>
<body class="container" ng-app="app">
    <div ng-controller="MainController">
        <div class="row">
            <div class="col-6" ng-repeat="product in products">
                <div class="card">
                    <div class="card-header">
                        <p class="text-center display-4">
                            {{ product.name }}
                        </p> 
                    </div>
                    <div class="card-body">
                        <p class="text-muted">Price : {{ product.price }}</p>
                        <p>Description : {{ product.description }}</p>
                        <button class="btn btn-dark" ng-click="onBtnClick()">Click Me</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div ng-controller="SecondController as ctrl">
        The Message : {{ ctrl.message }}
    </div>
    
</body>
</html>