<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Angular App</title>
    <!-- Angular CDN / lcoal copy -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
</head>

<body ng-app="app">

    <div ng-controller="MainController">
        <h2>Time : {{ time }}</h2>
        <!-- <input type="text" ng-model="time"> -->
        <button ng-click="onClick()">Click - with ng-click</button>
        <button id="btnClick">Click - without ng-click</button>
    </div>

    <script>
        angular.module("app", [])
            .controller("MainController", function ($scope) {
                $scope.time = new Date();
                $scope.onClick = function () {
                    $scope.time = new Date();
                }
                // CV === PV = don't trigger digest cycle
                // CV !== PV = do trigger digest cycle

                document.getElementById("btnClick").addEventListener("click", function () {
                    $scope.$apply(function () {
                        $scope.time = new Date();
                        alert('Button clicked');
                    })
                })

                $scope.$watch(
                    // Value Function
                    function (scope) {
                        return scope.time;
                    },
                    // listener function
                    function (currentValue, oldValue) {
                        // write the code
                        console.log("Cuurent - ", currentValue)
                        console.log("Old - ", oldValue)
                    })
            })
    </script>

</body>

</html>